* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.todoApp {
    margin: 0 auto;
    border-radius: 20px;
    height: 80vh;
    width: 80%;
    max-width: 900px;
    background-color: #300c43;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 40px 0 #00000045;
    transition: all .3s ease;
    .display-todos {
        display: flex;
        justify-content: center;
        gap: 0.6rem;
        button {
            color: white;
            background-color: #008e9f;
            cursor: pointer;
            font-weight: 500;
            padding: 10px 30px;
            border-radius: 10px;
            border: none;
            &:hover {
                background-color: #008f9f8f;
            }
            &:active{
                background-color: #008f9f3c;
            }
        }
    }
    h1 {
        color: #ffff;
        font-size: 0.9rem;
        font-weight: 600;
        padding-left: 0.4rem;
    }
    .form-div {
        width: 100%;
        display: flex;
        justify-content: center;
        .form {
            margin-bottom: 15px;
            width: 100%;
            grid-gap: 1%;
            .todo-input {
                border-radius: 10px;
                font-family: inherit;
                padding: 10px 20px;
                font-size: .9rem;
                border: none;
                &:focus {
                    outline: none;
                }
            }
        }
    }
    .todo-ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
        overflow-y: auto;
        max-height: 400px;
        padding: 0 30px;
        margin-top: 1rem;
        .green-li {
            color: white;
            text-transform: capitalize;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            .icons {
                display: flex;
                i {
                    color: rgba(0, 0, 0, 0.785);
                    &:hover {
                        cursor: pointer;
                    }
                }
                .done {
                    display: none;
                    transition: 0s;
                }
            }
            .MuiPaper-root {
                background-color: rgb(52, 223, 43);
                transition: 0.4s;
                width: 100%;
                .MuiTypography-root {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                }
            }
        }
        .todo-li {
            color: white;
            text-transform: capitalize;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            .icons {
                display: flex;
                gap: 0.5rem;
                i {
                    color: rgb(6, 0, 0);
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .MuiPaper-root {
                background-color: #008e9f;
                width: 100%;
                .MuiTypography-root {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #filter-buttons {
        padding: 5px 20px;
    }
    .todo-ul{
        padding: 0 0 !important;
    }
}